*{
    margin: 0px;
    padding: 0px;
    box-sizing: content-box;
    }
      #wrapper {
        min-height: 100%;
        position: relative;
        padding-top: 5%;
      }
      .currentpage{
        border: 2px  solid black;
        border-radius: 20px;
    }
    /* Navigation Bar Styles Start Here*/
    #navbar{
        display:flex;
       /* justify-content: space-evenly;*/
       height: 200px;
       justify-content: space-around; 
       align-items: center; 
       background-color: whitesmoke;
       font-family: Josefin Sans;
    }
#logo{
    position: absolute;
    left:2%;
}
#logo img{
    width: 20%;
    height:15%;
    padding:15px;
}
#navlinks{
    display: flex; /* flexbox for horizontal alignment */
    justify-content: space-around; 
    align-items: center; /* Vertically center items */
    position:absolute;
    right:0%;
    font-size: larger;
  }
  .linksanchor {
    text-decoration: none;
    padding: 10px 20px; 
    color: #000; 
  }
  #Content {
    position: relative;
    right: 0;
    font-size: larger;
  }
  .content-row {
    display: flex;
    align-items: center;
  }
  .links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    align-items: left;
  }
  .linksanchor {
    text-decoration: none;
    padding: 10px 20px;
    color: #000;
  }
  .image-container {
    text-align: center;
    margin-left: 0px;
    padding-bottom: 5%;
  } 
/* homepage styles ends here */
/* Store style starts here */
#store{
  /* min-height: 700px; */
  display:flex;
  justify-content: space-evenly;
  align-items: center;
}
.item{
  padding-bottom: 5%;
  /* margin:10px; */
  /* border-radius: 25px; */
}
.itemimage {
  height:300px;
  width:400px;
  /* border-radius: 25px; */
}
.itemimage:hover {
  transform: scale (1.2);
  transition: 1s;
}

/* store styles ends here */
/* trend style starts here */
#trendreport{
}
.reportcover{
  width: 300;
  height: 600;
  text-align: center;
}
.report{
  width: 1200px;
  height: 700px;
}
/* trend style endss here */
/* Login style starts here */
#login{
  min-height: 700px;
  padding-top: 5%;
  font-size: larger;
  font-family: Josefin Sans;
}
/* Login style ends here */
  /* Footer styles start here */
/* About us starts here */
#vison{
font-family: Josefin Sans;
text-align: center;
}
  .font1{
    font-family: Josefin Sans;
    font-size: 30px;
    font-weight: 200;
    color: black;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 3%;
  }
  .font2{
    font-family: Josefin Sans;
    font-size: 20px;
    color: black;
    text-align: center;
    padding-bottom: 5%;
    padding-left: 10%;
    padding-right: 10%;
  }
  #brandmovie{
    text-align: center;
    padding-bottom: 5%;
  }
  /* About us ends here */
  /* Sustainability style starts here */
  #title{
    padding: 2%;
    padding-top: 5%;
    text-align: center;
    font-size: larger;
    font-family: Josefin Sans;
  }
  #subtitle{
    padding: 2%;
    text-align: center;
    font-size: larger;
    font-family: Josefin Sans;
  }
  #image{
    text-align: center;
}
#report{
  position: relative;
}
#report{
  text-align: center;
  padding: 2%;
}
  /* Sustainability style ends here */
  /* Footer styles starts here */
#footer{
    min-height: 50px;
    background-color:whitesmoke;
    text-align: center;
    bottom: auto;
}
/*Social Media Style Starts*/
#socialmedia{
  width:100%;
}
.mediaimg{
  border-radius: 100px;
  width: 30px;
  height: 30px;
}
.mediaimg:hover{
  /* transform: scale (1.2); */
  /* transition: 1s; */
  box-shadow: 0px 0px 31px 6px rgba(19,235,0,0.75);
}
/*Social Media Style Ends*/
/* Footer styles end here */

